:root {
    --primary-color: #181717;
    --secondary-color: #2b2a2a;
    --tertiary-color: #656464;
    --highlight-color: #8d0000;
    --primary-background: #d4d4d4;
    --seconday-background: #f0f0f0;
  }




