.MainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Add this line to vertically center the content */
    min-height: 100vh;
    margin: 0 auto;
  }
  
  .CarouselsContainer {
    width: 80%;
    margin: 20px auto;
  }
  
  main {
    text-align: center;
    margin: 20px 0;
  }
  
