/* Login.css */

.containerLogin {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #333; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .containerLogin h3 {
    color: #fff; 
  }
  
  form {
    display: flex;
    flex-direction: column;
    
  }
  
  label {
    font-weight: bold;
    color: #fff; 
  }
  
  input {
    padding: 8px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
  }
  
  /* Button baby */
  button {
    padding: 10px;
    font-size: 16px;
    background-color: #ff3232; 
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    margin-bottom: 10px; 
    box-shadow: none;
    outline: none;
    transition: background-color 0.3s; 
  }
  
  button:hover {
    background-color: #ff5555; 
  }
  

  